*{
    margin: 0;
    padding: 0;
    font: 12px "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.main{
    width: 1226px;
    margin: 0 auto;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    border: none;
}
i{
    font-style: normal;
}
.clearfix:before,.clearfix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}
.clearfix{*zoom: 1}
.w1226{
    width: 1226px;
    margin: 0 auto;
}
.header{
    height: 40px;
    background: #333;
}
.header .head ul{
    float: left;
}
.header .head ul li{
    padding-top: 11px;
    float: left;
}
.header .head ul li>a{
    color: #b0b0b0;
}
.header .head ul li i{
    color: #424242;
    margin: 0 8px;
}
.header .head ul li a:hover{
    color: #ffffff;
}
.header .headR{
    float: right;
}
.header .headR ol{
    float: left;
}
.header .headR ol li{
    float: right;
    line-height: 40px;
}
.header .headR ol li b{
    color: #333333;
    float: left;
}
.header .head .headR ol>li>a{
    color: #b0b0b0;
}
.header .head .headR ol>li>b{
    color: #424242;
    margin: 0 7px;
}
.header .head ol>li:hover>a{
    color: #ffffff;
}
.header .headR .headright{
    width: 120px;
    height: 40px;
    background: #424242;
    margin-left: 20px;
    float: right;
    position: relative;
}
.header .headR .headright i{
    width: 20px;
    height: 14px;
    background: url("../images/icon.png") no-repeat 0 0;
    display: inline-block;
    vertical-align: -3px;
    position: absolute;
    top: 14px;
    left: 17px;
}
.header .head .headright a{
    color: #b0b0b0;
    line-height: 40px;
    float: right;
}
.header .head .headright:hover{
    background: #fff;
}
.header .head .headright:hover>a{
    color: #ff6700;
}
.header .head .headright:hover>i{
    background: url("../images/icon.png") no-repeat -26px 0;
}
.header .head .headright:hover .shopbox{
    height: 98px;
    box-shadow: 0 3px 4px rgba(0,0,0,.4);
    transition: height .2s;
}
.header .head .shopbox{
    width: 316px;
    height: 0px;
    background:#fff;
    position: absolute;
    top: 40px;
    right: 0;
    overflow: hidden;
    z-index: 2;
}
.header .head .shopbox p{
    color: #424242;
    text-align: center;
    line-height: 98px;
}
.nav{
    overflow: hidden;
}
.nav h1{
    width: 55px;
    height: 55px;
    background: #ff6700 url("../images/mi-logo.png") no-repeat 3px 3px ;
    margin: 22px 165px 0 0;
    float: left;
}
.nav ul{
    padding-left: 17px;
    float: left;

}
.nav ul>li{
    padding-right: 19px;
    float: left;
    line-height: 100px;
}
.nav ul>li a{
    font-size: 16px;
    color: #333333;
}
.nav ul>li a:hover{
    color: #ff6700;
}
.nav .hide{
    /*没有设置参照物  参照物：浏览器（body）*/
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    /*浏览器的宽度*/
    height: 0;
    overflow: hidden;
    z-index: 44;
    background: #fff;
}
.nav ul>li:hover .hide{
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    border-top: 1px solid #e0e0e0 ;

    height: 229px;
    transition: height .2s;
}
.nav .hide ol li{
    width: 204px;
    padding-top: 37px;
    text-align: center;
    position: relative;
    float: left;
}
.nav .hide ol li img{
    width: 90px;
    height: 110px;
    margin-left: 56px;

}
.nav .hide ol li h4{
    color: #575757;
    font-size: 12px;
    padding: 17px 0 3px;
}
.nav .hide ol li span{
    color: #ff781d;
    font-size: 12px;
}
.nav .hide ol li:before{
    content: '';
    width: 1px;
    height: 100px;
    background: #e0e0e0;
    position: absolute;
    top: 35px;
    right: 0;
}
.nav .hide ol .noBor:before{
    display: none;
}
.nav .search{
    position: relative;
    width: 296px;
    height: 50px;
    float: right;
    padding-top: 25px;
}
.nav .search input[type=text]{
    width: 223px;
    height: 48px;
    border: 1px solid #e0e0e0;
    vertical-align: 20px;
    padding:0 10px;
}
.nav .search input[type=submit]{
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    margin-left: -1px;
    background: #ffffff url("../images/icon_01.png") no-repeat -48px -29px;
}
.nav .search input[type=submit]:hover{
    background-color: #ff6700;
    background-position: -2px -29px  ;
}
.nav .search input[type=text]:focus{
    border: 1px solid #ff6700;
    outline: none;
    position: relative;
    z-index: 1;
    background: #fff;
}
.nav .search input[type=text]:focus + input[type=submit]{
    border: 1px solid #ff6700;
}
.nav .search i,.nav .search b{
    height: 18px;
    font-size: 12px;
    color: #757575;
    position: absolute;
    top: 41px;
    text-align: center;
    line-height: 18px;
    background: #eeeeee;
}
.nav .search i{
    width: 49px;
    left: 112px;
}
.nav .search b{
    width: 68px;
    left: 166px;
}
.nav .search i:hover,.nav .search b:hover{
    background: #ff6700;
    color: #ffffff;
    cursor: pointer;
    transition: background .5s;
}



.back{
    width: 1226px;
    height: 460px;
    position: relative;
}
.back:hover{
    cursor: pointer;
}
.back .boxInner div{
    position: absolute;
    top: 0;
    left: 0;

    z-index: 10;
    opacity: 0;
    filter: alpha(opacity = 0);
}
.back .boxInner img{
    display: block;
    width: 100%;
    height: 100%;
}
.back .spots{
    position: absolute;
    right: 35px;
    bottom: 25px;
    z-index: 10 ;
}
.back .spots li{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #949390;
    background: #918f89;
    float: left;
    margin-left: 10px;
}
.back .spots .on{
    background: rgba(255,255,255,0.4)
}







.back .table{
    height: 410px;
    background: rgba(0,0,0,.6);
    padding: 20px 0 30px 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.back .table li{
    width: 234px;
    margin-bottom: 6px;
}
.back .table li a{
    margin-left: 30px;
    font-size: 14px;
    color: #ffffff;
    line-height: 36px;
}
.back .table li:hover>a{
    color: #ffffff;
}
.back .table>li:hover{
    background: #ff6700;
    cursor: pointer;
}
.back>.table>li>i{
    width: 8px;
    height: 12px;
    background: url("../images/icon.png") no-repeat 0px -29px;
    float: right;
    margin: -201px 24px 0 0;
}
.back i{
    width: 41px;
    height: 69px;
    background: url("../images/icon1.png") no-repeat;
    display: inline-block;
    position: relative;
    top: 215px;
    z-index: 1;
}
.back a .left{
    background-position: 3px 13px;
    left: 234px;
}
.back a .left:hover{
    background-color: #757575;
    background-position:  10px -38px;
}
.back a .right{
    background-position: -49px 15px;
    right: -1141px;
}
.back a .right:hover{
    background-color: #757575;
    background-position:  -37px -39px;
}
.back .list {
    width: 0;
    background: #fff;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 234px;
    padding: 24px 0 0 31px;
    display: none;
    overflow: hidden;
    border-top: 1px solid #e0e0e0;
}
.back .list ol li{
    width: 234px;
    float: left;
    margin-bottom: 36.4px;
    margin-right: 20px;
}
.back .list ol li>a img {
    float: left;
}
.back .list ol li a .one{
    font-size: 12px;
    color: #5f5f5f;
    float: left;
    margin: 7px 0 0 22px;
}
.back .list ol li a .one:hover{
    color: #ff6f0f;
}
.back .list ol li a .chese{
    width: 58px;
    height: 22px;
    border: 1px solid #ff6700;
    float: right;
    margin: 4px 0 0 45px;
    text-align: center;
    line-height: 22px;
    color: #ff6f0f;
}
.back .list ol li a .chese:hover{
    background: #f25807;
    color: #fff;
}
.back ul>li:hover .list{
    width: 515px;
    display: block;
    box-shadow: 0 5px 5px rgba(0,0,0,.4);
}
.bottom{
    margin-top: 14px;
    margin-bottom: 44px;
}
.bottom .bottomL{
    width: 234px;
    height: 170px;
    background: #5f5750;
    float: left;
}
.bottom .bottomL ul{
    padding: 3px 0 0 3px;
}
.bottom .bottomL ul li{
    width: 76px;
    height: 82px;
    float: left;
    position: relative;
}
.bottom .bottomL ul li:before{
    content: '';
    height: 70px;
    width: 1px;
    position: absolute;
    top: 6px;
    left: 0;
    background:white;
}
.bottom .bottomL ul li:after{
    content: '';
    height: 1px;
    width: 64px;
    position: absolute;
    top: 0px;
    left: 6px;
    background:white;
}
.bottom .bottomL ul .top:after{
    display: none;
}
.bottom .bottomL ul .left:before{
    display: none;
}
.bottom .bottomL ul li a i{
    width: 20px;
    height: 18px;
    background: url("../images/icon1.png") no-repeat -4px -115px;
    display:inline-block;
    margin: 24px 0px 7px 28px;
}
.bottom .bottomL ul li a span{
    color: #cdcac8;
    float: left;
    margin-left: 17px;
}
.bottom .bottomL ul li:hover i{
    background-position: -40px -115px;
}
.bottom .bottomL ul li:hover{
    cursor: pointer;
}
.bottom .bottomL ul li:hover span{
    color: #fff;
}
.bottom ol{
    width: 978px;
    float: right;
}
.bottom ol li{
    height: 170px;
    float: left;
    margin-right: 15px;
    overflow: hidden;
}
.bottom ol .right{
    margin-right: 0;
}

#starPro{
   position: relative;
    height: 387px;
    overflow: hidden;
}
.starPro>.first>h4{
    float: left;
    font-size: 22px;
    color: #333;
    font-weight: bold;
    margin-bottom: 16px;
}
.starPro>.first>.smallBox{
    float: right;
    width: 71px;
    height: 24px;
    margin-top: 10px;
}
.starPro>.first>.smallBox i{
    float: left;
    width: 34px;
    height: 100%;
    border: 1px solid  #e0e0e0;
    background: url("../images/icon1.png") no-repeat center;
}
.starPro>.first>.smallBox i:hover{
    cursor: pointer;
}
.starPro>.first>.smallBox .left{
    margin-right: -1px;
    background-position: -77px -91px;
}

.starPro>.first>.smallBox .right{
    background-position: -131px -93px;
}
.starPro>.first>.smallBox .right:hover{
    background-position: -102px -92px;
}

#starPro .boxInner{
    width: 2480px;
    position: absolute;
    top: 45px;
    left: 0;
}
.starPro .boxInner ul{
    height: 342px;
    float: left;
}
.starPro .boxInner ul li{
    width: 234px;
    height: 341px;
    background: #fafafa;
    text-align: center;
    margin-right: 14px;
    float: left;
}
.starPro .boxInner img{
    width: 160px;
    height: 160px;
    padding: 39px 37px 29px 37px;
}
.starPro .boxInner ul li a h4{
    text-align: center;
    color: #212121;
}
.starPro .boxInner ul li p{
    color: #c9b6c0;
    margin-bottom: 18px;
}
.starPro .boxInner ul li span{
    color: #ff6709;
}
.starPro .boxInner ul .one{
    border-top: 1px solid #ffac13;
}
.starPro .boxInner ul .two{
    border-top: 1px solid #83c44e;
}
.starPro .boxInner ul .three{
    border-top: 1px solid #2196f3;
}
.starPro .boxInner ul .four{
    border-top: 1px solid #e53935;
}
.starPro .boxInner ul .five{
    margin-right: 0;
    border-top: 1px solid #00c0a5;
}
.under{
    background: #f5f5f5;
    margin-top: 40px;
}
.under .hardware>h4{
    font-size: 22px;
    color: #333;
    font-weight: bold;
    padding: 75px 0 15px 0;
}
.under ul .big{
    width: 234px;
    height: 614px;
}
.under>ul>li{
    float: left;
    margin: 0 14px 14px 0;
    position: relative;
}
.under>ul .four{
    margin-right: -4px;
}
.under>ul .small{
    width: 235px;
    height: 300px;
    text-align: center;
    background: #fefefe;
}
.under>ul .small img{
    padding: 19px 37px 0;
}
.under>ul .small a h4{
    color: #333;
    margin-top: 19px;
}
.under>ul .small p{
    color: #b0b0b0;
    margin: 7px 0 15px 0;
}
.under>ul .small span{
    color: #ff6700;
}
.under>ul .first i {
    width: 64px;
    height: 20px;
    background: #ffac13;
    color: #fff;
    position: absolute;
    top: 0;
    left: 85px;
    line-height: 20px;
}
.under>ul .sixth i{
    width: 64px;
    height: 20px;
    background: #e53935;
    color: #fff;
    position: absolute;
    top: 0;
    left: 85px;
    line-height: 20px;
}
.under>ul .seventh i{
    width: 64px;
    height: 20px;
    background: #83c44e;
    color: #fff;
    position: absolute;
    top: 0;
    left: 85px;
    line-height: 20px;
}
.under ul>li:hover{
    position: relative;
    top: -1px;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
    transition: box-shadow .30s;
}
.under .middle{
    margin-top: 38px;
}
.under .middle h3{
    font-size: 22px;
    color: #333333;
    font-weight: bold;
    float: left;
}
.under .middle{
    margin-bottom: 16px;
}
.under .middle>.right{
    float: right;
}
.under .middle>.right>span{
    font-size: 14px;
    color: #424242;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.under .middle>.right>.show{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.under .dapei{
    display: none;
}
.under .on{
    display: block;
}
.under .dapei>li{
    width: 234px;
    height: 300px;
    float: left;
    text-align: center;
    position: relative;
    background: #fff;
    margin-bottom: 14px;
}
.under .dapei .word{
    margin-left: 14px;
}
.under .dapei .word>img{
    width: 160px;
    height: 160px;
}
.under .dapei .word img{
    padding: 34px 42px 0 42px;
}
.under .dapei .word h4{
    color: #333;
    padding: 19px 0 6px 0;
}
.under .dapei .word>span{
    color: #ff6700;
}
.under .dapei .word del{
    color: #d2beb4;
}
.under .dapei .word>p{
    color: #b0b0b0;
    margin-top: 15px;
}
.under .dapei .first i{
    width: 64px;
    height: 20px;
    background: #e53935;
    color: #fff;
    position: absolute;
    top: 0;
    left: 85px;
    line-height: 20px;
}
.under .dapei li:hover{
    position: relative;
    top: -1px;
    cursor: pointer;
    box-shadow: 0 7px 10px rgba(0,0,0,.3);
    transition: box-shadow .30s;
}
.under .dapei .first:hover .noMar{
    height: 70px;
    transition: height .4s;
}
.under .dapei .last{
    background: #f5f5f5;
}
.under .dapei>li>.noMar{
    height: 0;
    position: absolute;
    bottom: 0;
    background: #ff6700;
    overflow: hidden;
}
.under>.dapei>li>.noMar>p{
    color: #fff;
    padding: 8px 36px 0 29px;
    margin-bottom: 5px;
}
.under>.dapei>li>.noMar>span {
    color: #ffb787;
}
.under .dapei li ul li{
    height: 143px;
    background: #fff;
}
.under .dapei li ul .one{
    margin-bottom: 14px;
}
.under .dapei li ul .one img{
    float: right;
    padding-right: 10px;
}
.under .dapei li ul .one h4{
    color: #333333;
    padding: 41px 0 0 22px;
    margin-bottom: 9px;
}
.under .dapei li ul .one span{
    color: #ff802b;
    float: left;
    padding-left: 25px;
}
.under .dapei li ul .two img{
    float: right;
}
.under .dapei li ul .two h4{
    font-size: 18px;
    color: #333333;
    padding: 41px 0 0 22px;
    margin-bottom: 9px;
}
.under .dapei li ul .two span{
    color: #757575;
    float: left;
    margin-left: 30px;
}

.under .recommend{
    margin-top: 37px;
}
.under .recommend h4{
    font-size: 22px;
    color: #333;
    float: left;
    margin-bottom: 16px;
}
.under>.recommendM{
    overflow: hidden;
}
.under>.recommendM>li{
    width: 234px;
    height: 300px;
    float: left;
    text-align: center;
    /*position: relative;*/
    background: #fff;
    margin-left: 14px;
    margin-right: 0;
}

.under>.recommendM>.word{
    margin-left: 0px;
}
.under>.recommendM>li>a>img{
    padding: 34px 42px 0 42px;
}
.under>.recommendM>li>a>h4{
    color: #333;
    margin: 19px 0 6px 0;
}
.under>.recommendM>li>span{
    color: #ff6700;
}
.under>.recommendM>li>p{
    color: #b0b0b0;
    margin-top: 15px;
}
.under>.recommendM li:hover {
    position: relative;
    top: -1px;
    transition: position .5s;
}
.under .product{
    margin-top: 27px;
}
.under .product h4{
    font-size: 22px;
    color: #333;
    float: left;
    margin-bottom: 16px;
}
.under .hotproduct>li{
    width: 296px;
    height: 415px;
    background: #fff;
    float: left;
    margin-right: 14px;
}
.under .hotproduct .last{
    margin-right: 0;
}
.under .hotproduct>li>.comment{
    height:90px;
    font-size: 14px;
    color: #333;
    float: left;
    padding: 33px 30px 0px 27px;
}
.under .hotproduct>li>p{
    color: #b0b0b0;
    margin: 0 0 11px 27px;
}
.under .hotproduct>li>a>h4{
    color: #333;
    margin-left: 27px;
    float: left;
}
.under .hotproduct>li>i{
    color: #e0e0e0;
    float: left;
    margin: 0 12px 0 10px;
}
.under .hotproduct>li>span{
    color: #ff6700;
}
.under .content h4{
    font-size: 22px;
    color: #333;
    margin: 36px 0 15px 0;
}
.under .maincontent{
    margin-bottom: 34px;
}
.under .maincontent li{
    width: 297px;
    height: 420px;
    overflow: hidden;
    position: relative;
}
.under .maincontent .last{
    margin-right: -10px;
}
.under .maincontent li .maincontentinner{
    width: 1188px;
    position: absolute;
}
.under .maincontent li .maincontentinner div{
    width: 297px;
    height: 420px;
    background: white;
    float: left;
    text-align: center;
}
.under .maincontent li .maincontentinner div h4{
    font-size: 14px;
    color: #9fd177;
    padding: 46px 0 21px 0;
}
.under .maincontent li .maincontentinner div h3{
    font-size: 18px;
    color: #333;
    padding-bottom: 7px;
}
.under .maincontent li .maincontentinner div p a{
    display: inline-block;
    font-size: 12px;
    color: #b0b0b0;
    padding: 0 53px 13px 52px;
}
.under .maincontent li .maincontentinner div span{
    display: inline-block;
    font-size: 12px;
    color: #333;
    padding-bottom: 17px;
}
.under .maincontent li .maincontentinner div a img{
    margin: 0 auto;
}
.under .maincontent li>.btn{
    position: absolute;
    top: 190px;
    width: 20px;
    height: 48px;
    background: url("../images/icon1.png") no-repeat center #d9d9d9;
    /*display: none;*/
}
.under .maincontent li>.btn:hover{
    background-color: #8e8e8e;
}
.under .maincontent li>.btnLeft{
    left: 0;
    background-position: -102px -38px;
}
.under .maincontent li>.btnRight{
    right: 0;
    background-position: -135px -39px;
}
.under .maincontent li>.ports{
    position: absolute;
    bottom: 27px;
    left: 92px;
}
.under .maincontent li>.ports p{
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #b0b0b0;
    margin-right: 28px;
}
.under .maincontent li>.ports p:hover{
    background: #ff6700;
}
.under .maincontent li>.ports .on{
    margin-top: -2px;
    width: 6px;
    height: 6px;
    border: 2px solid #ff6700;
    background: white;
}
.under .maincontent li>.ports .on:hover{
    background: white;
}
.under .out .both{
    margin-bottom: 15px;
}
.under .out .both h4{
    font-size: 22px;
    color: #41301c;
    float: left;
}
.under .out .both .innerRight{
    float: right;
}
.under .out .both .innerRight:hover{
    cursor: pointer;
}
.under .out .both .innerRight:hover span{
    color: #ff6700;
    transition: 0.5s;
}
.under .out .both .innerRight:hover a{
    background: #ff6700;
    transition: 0.5s;
}
.under .out .both .innerRight span{
    font-size: 16px;
    color: #36373b;
    margin-right: 10px;
}
.under .out .both .innerRight a{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #acacac;
    vertical-align: -3px;
    position: relative;
}
.under .out .both .innerRight a em{
    position: absolute;
    top: 5px;
    left: 8px;
    width: 0px;
    height: 0px;
    border: 5px solid;
    border-color: transparent transparent transparent #fff;
}
.under .out .both .innerRight a i{
    position: absolute;
    top: 5px;
    left: 6px;
    width: 0px;
    height: 0px;
    border: 5px solid;
    border-color: transparent transparent transparent #acacac;
}
.under .out .bottom{
    margin-bottom: 60px;
}
.under .out .bottom li{
    float: left;
    margin-right: 14px;
    width: 296px;
    height: 285px;
    position: relative;
    background: #fff;
    text-align: center;
}
.under .out .bottom li.last{
    margin-right: 0;
}
.under .out .bottom div{
    position: relative;
}
.under .out .bottom div img{
    width: 100%;
    height: 180px;
}
.under .out .bottom div:hover{
    cursor: pointer;
}
.under .out .bottom div:hover a{
    transition: 0.5s;
    background: #ff6700;
    border:2px solid #ff6700;
}
.under .out .bottom li a{
    display: block;
    font-size: 14px;
    color: #333;
    margin: 29px 0 8px 0;
}
.under .out .bottom li a:hover{
    color: #ff6700;
}
.under .out .bottom li p{
    color: #acacac;
}
.under .out .bottom li .button{
    width: 33px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    position: absolute;
    top: 115px;
    left: 20px;
}
.under .out .bottom li .button em{
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 4px;
    left: 15px;
}


.service{
    padding-top: 26px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 28px;
}
.service ul li{
    position: relative;
    float: left;
    width: 244px;
    text-align: center;
}
.service ul li a i{
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url("../images/iconi.png") no-repeat ;
    vertical-align: middle;
    margin-right: 7px;
}
.service ul li a i.second{
    background-position: -64px 0;
}
.service ul li:hover a i.second{
    background-position: -93px -1px;
}
.service ul li a i.third{
    background-position: -120px -1px;
}
.service ul li:hover a i.third{
    background-position: -147px 0;
}
.service ul li a i.forth{
    background-position: -2px -32px;
}
.service ul li:hover a i.forth{
    background-position: -35px -32px;
}
.service ul li a i.fifth{
    background-position: -68px -32px;
}
.service ul li:hover a i.fifth{
    background-position: -93px -32px;
}

.service ul li a{
    font-size: 15px;
    color: #616161;
}
.service ul li:hover a{
    color: #ff6700;
}
.service ul li:hover a i.first{
    background-position: -31px 0;
}
.service ul li:after{
    content: '';
    width: 1px;
    height: 25px;
    background: #e0e0e0;
    position: absolute;
    right: 0;
    top: 1px;
}
.service ul .noBor:after{
    display: none;
}

.footNav{
    padding-top: 38px;
}
.footNav dl{
    float: left;
    padding: 0 104px 36px 0;
}
.footNav dl dt{
    font-size: 13px;
    color: #424242;
    padding-bottom: 25px;
    font-weight: 500;
}
.footNav dl dd{
    padding-bottom: 16px;
}
.footNav dl dd a{
    font-size: 12px;
    color: #757575;
}
.footNav dl dd a:hover{
    color: #ff6700;
}
.footNav div{
    position: relative;
    float: right;
    text-align: center;
    width: 252px;
}
.footNav div span{
    font-size: 22px;
    color: #ff6700;
}
.footNav div p{
    width: 122px;
    line-height: 18px;
    font-size: 12px;
    color: #616161;
    margin: 0 auto;
    padding: 6px 0 16px;
}
.footNav div a{
    display: block;
    width: 118px;
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
    border: 1px solid #ff6700;
    font-size: 12px;
    color: #ff6700;
}
.footNav div a i{
    display: inline-block;
    width: 12px;
    height: 11px;
    background: url("../images/coni.png") no-repeat 0 0;
    vertical-align: middle;
    margin-right: 3px;
}
.footNav div a:hover{
    background-color: #ff6700;
    color: #fff;
    transition: all .3s;
}
.footNav div a:hover i{
    background-position: -21px 0;
}
.footNav div:before{
    content: '';
    width: 1px;
    height: 112px;
    background:#e0e0e0;
    position: absolute;
    top: 8px;
    left: 0;
}
.footer{
    width: 100%;
    background: #fafafa;
    text-align: center;
}
.footer .inner{
    display: inline-block;
    padding-top: 30px;
    margin-bottom: 31px;
}
.footer .inner .left{
    float: left;
    width: 850px;
}
.footer .inner .left i{
    float: left;
    width: 56px;
    height: 57px;
    border-radius: 1px;
    background: url("../images/logo.png");
    margin-right: 8px;
}
.footer .inner .left .footList ul{
    height: 12px;
}
.footer .inner .left .footList li{
    margin: 0 5px;
    float: left;
    position: relative;
}
.footer .inner .left .footList li:after{
    content: '';
    width: 1px;
    height: 12px;
    position: absolute;
    top: 2px;
    right: -5px;
    background: #b0b0b0;
}
.footer .inner .left .footList li.last:after{
    display: none;
}
.footer .inner .left .footList li a{
    font-size: 11px;
    color: #757575;
}
.footer .inner .left .footList li a:hover{
    color: #ff6700;
}
.footer .inner .left p{
    line-height: 19px;
    margin: 3px 0 0 5px;
    font-size: 11px;
    color: #b0b0b0;
    float: left;
}
.footer .inner .left p a{
    color: #b0b0b0;
}
.footer .inner .left p a:hover{
    color: #ff6700;
}
.footer .inner .footRight{
    float: right;
}
.footer .inner .footRight li{
    float: left;
}
.footer .inner .footRight .first img{
    display: inline-block;
    width: 84px;
    height: 28px;
}
.footer  .under{
    display: block;
    margin: 0 auto 31px;
    width: 267px;
    height: 20px;
    background: url("../images/under.png");
}